
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamPro/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
 @font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
 @font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamPro/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamPro/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamPro/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  