body {
	font-family: "GothamProRegular";

}

a {	
	text-decoration: none;
}

.list1 {
	/* 1st page with big background page*/
	/* One Big Block */
	background-image: url(../images/back.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	max-height: 1440px /* for 2k */
	/*height: 959px;*/

	color: #FFFFFF;
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;

	/* temporary */
	box-sizing: border-box; /* safe of margin bavovna */
	/*border: 1px solid #ff00ff;
	background-color: #ff00ff1e*/
}

.cap {
	display: grid;		

	grid-template-columns: auto 1fr repeat(4, auto);
	
	justify-content: space-between; 
	align-items: center; /* не працює для посилань (tag <a>)*/
	
	grid-template-areas: "cap_logo . services school technology contacts";

	gap: 60px;

	
	
	/* temporary */
	box-sizing: border-box;
	/*border: 1px solid #00ff00;
	background-color: #00ff001e;	*/
}

.cap > a {	
	color: #ffffff;
	height: 92px;		
	padding: 0 7px;
	/*padding-top: 10px;*/

	/*font*/
	font-size: 14px;
	line-height: 23px;
	font-weight: 700;
	
	/* сentering of vertical in tag  <a> */
	display: flex;
	align-items: center;
	

	/* temporary */
	box-sizing: border-box;
	/*border: 1px solid #007bff;
	background-color: #007bff1e;*/
}

.cap > a:first-child {
	/*padding-left: 0;*/
	padding-top: 5px;
}

.cap > a:last-child {
	/*padding-right: 0;*/
}

.cap > a:first-child:hover {
	stroke-width: 1px;
	/*stroke: #333333;*/
	stroke: #FED233ff;
}

/*.cap > a:nth-child(+n+3):hover {*/
.cap > a:hover {
	box-sizing: border-box;
	border-bottom: 2px solid #FED233;
	border-top: 2px solid #FED233;	
	/*border-radius: 10px;*/

	color: #FED233;

	background: linear-gradient(0deg, rgba(254, 210, 51, 0.30) 0%, rgba(254, 210, 51, 0) 15%, rgba(254, 210, 51, 0)85%, rgba(254, 210, 51, 0.30) 100%);	
}

.top_logo {	
	grid-area: cap_logo;
	order: 0;
}

.top_logo:hover > svg > path:first-child {
	/*fill: #BDBDBD;*/
}

.top_logo:hover > svg > path:last-child {
	/*fill: #828282;*/
}

.cap_item-1 {
	grid-area: services;
	order: 2;
}

.cap_item-2 {
	grid-area: school;
	order: 3;
}

.cap_item-3 {
	grid-area: technology;
	order: 4;
}

.cap_item-4 {
	grid-area: contacts;
	order: 5;
}

.line {	
	height: 2px;	
	margin: 0 auto;
	width: 100%;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 5%, rgba(255,255,255,0.3) 95%, rgba(255,255,255,0) 100%);	
	box-sizing: border-box;
}

.intro {
	height: calc(100vh - 94px);
	/*height: 864px;*/

	display: flex;

	/*align-items: flex-start;     
    align-content: center;
    flex-wrap: wrap;*/
	justify-content: space-between;
	align-items: flex-start;

	/* temporary */
	box-sizing: border-box;
	/*border: 1px solid #ff00ff;*/
	/*background-color: #ff00ff1e;*/

	padding-top: calc(50vh - 190px);
	/*padding-top: 263px;*/

	background-image: url(../images/mouse_scroll.svg);
	background-repeat: no-repeat;
	background-size: 21px 30px;
	background-position: center bottom 83px;
}

.intro_item_title {
	width: 580px;

	box-sizing: border-box;
	/*border: 1px solid #ff00ff;*/
	/*background-color: #00ffff1e;*/
}

.title {
	font-family: 'GothamProBold';
	font-size: 40px;
	line-height: 54px;
	
	color: #FFFFFF;	
	font-weight: 700;
}

.line1 {	
	height: 2px;		
	width: 133px;
	margin-top: 16px;
	background-color: #FED233;	
	/*background: linear-gradient(90deg, #FED23300 0%, #FED233ff 5%, #FED233ff 95%, #FED23300 100%);	*/
	box-sizing: border-box;	
}

.title_detail {
	margin-top: 25px;
	font-size: 18px;
	line-height: 24px;
}

.contact_us {
	margin-top: 47px;

	width: 266px;
	height: 59px;	

	background: #FED233;
	border-radius: 7px;

	font-family: 'GothamProBold';
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	display: flex;

	justify-content: space-around;
	
	align-items: center;		

	color: #333333;
	box-sizing: border-box;
}

.contact_us:hover {
	box-sizing: border-box;
	background-color: #BDBDBD00;
	border: 3px solid #FED233;	
	color: #FFFFFF;
}

.contact_us:hover > svg {
	fill: #FFFFFF;
	
}

.intro_item_logo {
	box-sizing: border-box;
	/*border: 1px solid #ff00ff;*/
	/*background-color: #00ffff1e;*/

	margin-top: 16px;
	margin-right: -5px;
}

.intro_item_logo:hover {
	cursor: pointer;
}

.intro_item_logo:hover > svg > path:first-child {
	fill: #ffffff;
	stroke: #BDBDBD;	
}

.intro_item_logo:hover > svg > path:last-child {
	fill: #FED233;
	/*stroke: #BDBDBD;	*/
}

.list2 {
	height: 1108px;
}

.services {
	/*box-sizing: border-box;
	border: 1px solid #ff00ff;
	background-color: #ff00ff1e;*/
}

.services_title {
	margin-top: 122px;
	margin-left: -3px;
	margin-bottom: 0;

	color: #333333;
	font-family: 'GothamProBold';
	font-weight: 700;
	font-size: 40px;
	line-height: 66px;
	letter-spacing: 0em;
	text-align: left;
}

.services_title_detail {
	margin-top: 10px;
	width: 540px;

	color: #333333;
	font-family: 'GothamProRegular';
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}

.services_grid {
	padding-top: 98px;

	display: grid;
	gap: 32px ;
	grid-template-columns: repeat(3, 1fr);

	justify-content: center;

	box-sizing: border-box;
	border: 1px solid #ff00ff85;
	background-color: #ff00ff0e;
}

.services_grid_item {
	width: 345px;
	height: 292px;

	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	box-shadow: 0px 0px 20px #0000000d;
	border-radius: 7px;
	
	text-align: center;	

	color: #333333;

	/* вирішив таки відцентрувати та скинути все на дно */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.services_grid_item > h2 {
	font-family: 'GothamProMedium';
	font-size: 18px;
	line-height: 24px;
	font-weight: 500; /* Medium */

	margin-top: 22px;
}

.services_grid_item > svg:first-child {
	/*padding-top: 45px;*/
}

.services_grid_item > div:last-child {
	color: #BDBDBD;
	width: 90%;
	border-top: 1px solid #BDBDBD;

	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0 auto;
	height: 62px;

	margin-top: 22px;
}

.services_grid_item:hover {
	border: 1px solid #FED233;
	box-shadow: 0px 0px 20px #FED2330d;
	/*color: #FED233;*/
}

