body {
	font-family: "GothamProRegular";

}

a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.list1 {
	background-image: url(../images/back.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.container {
	max-width: 1110px;
	margin: 0 auto;

	/* temporary */
	box-sizing: border-box;
	border: 1px solid #ff00ff;
	background-color: #ff00ff1e;
}

.cap {
	display: grid;		

	grid-template-columns: auto 1fr auto auto auto auto;
	

	justify-content: space-between; 
	align-items: center; /* не працює для ссилок (tag <a>)*/
	
	grid-template-areas: "cap_logo . services school technology contacts";

	
	/* temporary */
	box-sizing: border-box;
	border: 1px solid #00ff00;
	background-color: #00ff001e;
	color: #ffff66; /* для diva - перевірка */
}

.cap > a {	
	color: #ffffff;
	height: 44px;		
	

	/* temporary */
	box-sizing: border-box;
	border: 1px solid #007bff;
	background-color: #007bff1e;
}

.cap:hover > a {
	FED233
}

.top_logo {	
	grid-area: cap_logo;
}

.top_logo:hover > svg > path:first-child {
	fill: #BDBDBD;
}

.top_logo:hover > svg > path:last-child {
	fill: #828282;
}

.cap_item-1 {
	grid-area: services;
}

.cap_item-2 {
	grid-area: school;
}

.cap_item-3 {
	grid-area: technology;
}

.cap_item-4 {
	grid-area: contacts;
}
