body {
	font-family: "GothamProRegular";

}

a {	
	text-decoration: none;
}

.list1 {
	/* 1st page with big background page*/
	/* One Big Block */
	background-image: url(../images/back.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*height: 100vh;*/
	height: 948px;

	color: #FFFFFF;
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;

	/* temporary */
	box-sizing: border-box; /* safe of margin bavovna */
	/*border: 1px solid #ff00ff;
	background-color: #ff00ff1e*/
}

.cap {
	display: grid;		

	grid-template-columns: auto 1fr repeat(4, auto);
	
	justify-content: space-between; 
	align-items: center; /* не працює для посилань (tag <a>)*/
	
	grid-template-areas: "cap_logo . services school technology contacts";

	gap: 60px;

	
	
	/* temporary */
	/*box-sizing: border-box;
	border: 1px solid #00ff00;
	background-color: #00ff001e;	*/
}

.cap > a {	
	color: #ffffff;
	height: 92px;		
	padding: 0 7px;
	padding-top: 10px;

	/*font*/
	font-size: 14px;
	line-height: 23px;
	font-weight: 700;
	
	/* сentering of vertical in tag  <a> */
	display: flex;
	align-items: center;
	

	/* temporary */
	box-sizing: border-box;
	/*border: 1px solid #007bff;
	background-color: #007bff1e;*/
}

.cap > a:first-child {
	padding-left: 0;
	padding-top: 5px;
}

.cap > a:last-child {
	padding-right: 0;
}

.cap > a:hover {
	color: #FED233;
}

.top_logo {	
	grid-area: cap_logo;
	order: 0;
}

.top_logo:hover > svg > path:first-child {
	fill: #BDBDBD;
}

.top_logo:hover > svg > path:last-child {
	fill: #828282;
}

.cap_item-1 {
	grid-area: services;
	order: 2;
}

.cap_item-2 {
	grid-area: school;
	order: 3;
}

.cap_item-3 {
	grid-area: technology;
	order: 4;
}

.cap_item-4 {
	grid-area: contacts;
	order: 5;
}

.line {	
	height: 2px;	
	margin: 0 auto;
	width: 100%;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 5%, rgba(255,255,255,0.3) 95%, rgba(255,255,255,0) 100%);	
	box-sizing: border-box;
}

.intro {
	/*height: calc(100vh - 94px);*/
	height: 853px;

	display: flex;

	/*align-items: flex-start;     
    align-content: center;
    flex-wrap: wrap;*/
	justify-content: space-between;

	/* temporary */
	box-sizing: border-box;
	/*border: 1px solid #ff00ff;*/
	background-color: #ff00ff1e;

	padding-top: 264px;
}

.intro_item_title {
	width: 580px;

	box-sizing: border-box;
	/*border: 1px solid #ff00ff;*/
	background-color: #00ffff1e;
}

.title {
	font-family: 'GothamProBold';
	font-size: 40px;
	
	color: #FFFFFF;	
	font-weight: 700;
}

.line1 {	
	height: 2px;		
	width: 133px;
	margin-top: 19px;
	background-color: #FED233;
	/*background: linear-gradient(90deg, #FED23300 0%, #FED233ff 5%, #FED233ff 95%, #FED23300 100%);	*/
	box-sizing: border-box;	
}